* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #8B1C23;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;  
}

.home-container {
    /* border: 1px solid; */
    width: 415px;
    height: 100vh;
    position: relative;
}

/* HEADER */
.header {
    display: flex;
    background: rgb(255, 255, 255);
    width: 415px;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#username {
    display: flex;
    background-color: #8B1C23;
    font-family: 'Russo One', sans-serif;
    width: 230px;
    height: 45px;
    border-radius: 10px;
    align-items: center;

}

#usernameIcon{
    /* background-color: white; */
    margin-left: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}

#usernameImg{
    width: 40px;
}

#usernameText{
    color: white;
    font-size: 14px;
    margin-left: 10px;
}

#search {
    background-color: #8B1C23;
    width: 45px;
    border-radius: 10px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchIcon{
    width: 30px;
    height: 30px;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchImg{
    width: 15px;
    cursor: pointer;
}

#filter {
    background-color: #8B1C23;
    width: 45px;
    border-radius: 10px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filterIcon{
    /* background-color: white; */
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filterImg{
    width: 15px;
    cursor: pointer;

}

/* TRANSACTION CARDS */
#transactionContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: 100%;
    /* border: 1px solid; */
}

/* BODY */
.home-body{
    display: flex;
    flex-direction: column;
    background-color: #8B1C23;
    width: 100%;
    height: auto;
    /* justify-content: center; */
    align-items: center;
    gap: 25px;
    /* padding-top: 100px; */
    position: relative;
}

#body-header{
    width: 415px;
    height: 100px;
    flex-shrink: 0;
    position: relative;

}

.card {
    display: flex;
    align-items: flex-start;
    width: 358px;
    min-height: 108px;
    background-color: hsla(0, 0%, 100%, 0.8);
    border-radius: 10px;
    padding: 15px 10px 15px 20px;
    /* border: 1px solid; */
}
  
#transactionIcon {
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: right;
    margin-top: 7px;
    /* border: 1px solid; */
    /* margin-left: ; */

}
  
#iconImage {
    background-color: #8B1C23;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    
}
  
#infoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 15px;
    margin-right: 10px;
    flex: 1;
    /* gap: 5px; */
    /* border: 1px solid; */

}
  
#topRow {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid;  */

}

#leftInfoTop{
    flex-direction: column;
    width: 65%;
    /* border: 1px solid; */
}
  
#rightInfoTop {
    display: flex;
    flex-direction: column;
    width: 35%;
    /* border: 1px solid; */
    align-items: flex-end;
}


#midRow {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    margin-bottom: 10px;
}

#midLeftInfo{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    /* border: 1px solid; */
}

#midRightInfo{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    align-items: flex-end;
}


  
#bottomRow {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    /* border: 1px solid; */
}
  
#bottomLeftInfo{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    /* border: 1px solid; */
}

#bottomRightInfo {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    /* border: 1px solid; */
    align-items: flex-end;
}



.transactionName{
    font-family: Lato;
    color: rgb(38, 39, 58);
    font-size: 16px;
    font-weight: bolder;
    margin-top: 5px;
}



#amount{
    font-family: Lato;
    color: rgb(38, 39, 58);
    font-size: 16px;
    font-weight: bolder;
    margin-top: 5px;
}

#payment{
    font-family: Lato;
    color: rgb(38, 39, 58);
    font-size: 14px;
    margin-top: 5px;

}

#mobileNo{
    font-family: Lato;
    color: rgba(38, 39, 58, 0.6);
    font-size: 12px;
    margin-top: 3px;
}

#number{
    font-family: Lato;
    color: rgba(38, 39, 58);
    font-size: 12px;
}



#statusPending{
    background-color: rgb(255, 184, 0, 0.2);
    width: 55px;
    border-radius: 25px;
    height: 15px;
    margin-top: 7px;
}

#pending{
    color: rgb(244, 154, 71);
    font-size: 10px;
    font-family: Lato;
    text-align: center;
    margin-top: 1px;
}

#statusConfirmed{
    background-color: rgb(0, 255, 148, 0.2);
    width: 60px;
    border-radius: 25px;
    margin-top: 7px;
    height: 15px;
}

#confirmed{
    color: rgb(75, 167, 112);
    font-size: 10px;
    font-family: Lato;
    text-align: center;
    margin-top: 2.5px;
}

#statusCanceled{
    background-color: rgb(245, 75, 75, 0.2);
    width: 55px;
    border-radius: 25px;
    margin-top: 7px;
    height: 15px;

}

#canceled{
    color: rgb(245, 75, 95);
    font-size: 10px;
    font-family: Lato;
    text-align: center;
    margin-top: 2px;
}

#date{
    font-family: Lato;
    color: rgba(38, 39, 58, 0.6);
    font-size: 12px;
    margin-top: 3px;
}

#time{
    font-family: Lato;
    color: rgba(38, 39, 58, 0.6);
    font-size: 12px;
}


/* BODY TRANSACTION IMAGES */
/* #backhoeImg{
}

#budgetImg{
}

#excavationImg{
}

#truckImg{
}

#gasImg{
}

#toolboxImg{
} */




/* FOOTER */
.footer {
    background: rgb(255, 255, 255);
    width: 415px;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    z-index: 1;
    gap: 60px;
}



#navLink{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MENU */
.menuIcon{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    cursor: pointer;
}


.menuImg {
    transition: opacity 0.1s ease-out;
}

.menuIcon:hover .menuImg {
    opacity: 0; /* Makes the original image invisible */
}

.menuIcon:hover {
    background-image: url("footer-icons/menuImage2.png");
    background-size: 48px 44px;
    background-repeat: no-repeat;
    background-position: center;
}

.menuIcon:hover .menuImg {
    opacity: 0; /* Makes the original image disappear */
}





/* ADD */
.addIcon{
    /* background-color: #8B1C23; */
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    cursor: pointer;

}

.addImg {
    transition: opacity 0.1s ease-out;
}

.addIcon:hover .addImg {
    opacity: 0; /* Makes the original image invisible */
}

.addIcon:hover {
    background-image: url("footer-icons/addImage2.png");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
}

.addIcon:hover .addImg {
    opacity: 0; /* Makes the original image disappear */
}




/* PROFILE */
.profileIcon{
    /* background-color: #8B1C23; */
    width: 50px;
    height: 50px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    cursor: pointer;

}

.profileImg {
    transition: opacity 0.1s ease-out;
}

.profileIcon:hover .profileImg {
    opacity: 0; /* Makes the original image invisible */
}

.profileIcon:hover {
    background-image: url("footer-icons/profileImage2.png");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
}

.profileIcon:hover .profileImg {
    opacity: 0; /* Makes the original image disappear */
}



#body-footer{
    width: 415px;
    height: 100px;
}







/* SEARCH PANEL */


#searchPanel {
    position: fixed;
    top: 115px;
    left: 50%;
    transform: translate(100%, 0);
    width: 400px;
    height: 120px;
    background-color: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.25s ease-in-out, opacity 0.15s ease-out;

    padding: 20px;
    z-index: 1000;
    border-radius: 20px;
    font-size: 14px;
    font-family: Lato;
    color: rgb(38, 39, 58);
    font-weight: 500;
    opacity: 0;
    pointer-events: none;
  }


#searchLabel{
    display: inline;
}

#searchTextbox{
    width: 360px;
    margin-top: 30px;
    border-radius: 5px;
    height: 25px;
    font-size: 14px;
}

#clearSearch{
    margin-left: 280px;
    /* border: 1px solid; */
    font-weight: 700;
    color:#8b1c2398;
    display: inline;
    width: 200px;
    cursor: pointer;
}

#searchPanel.active {
    transform: translate(-50%, 0);
    opacity: 1;
    pointer-events: all;
  }


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 45, 65, 0.603); /* blue transparent */
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease-out;
  }
  
#overlay.active {
    opacity: 1;
    pointer-events: all;
  }



  /* JAVASCRIPT */
  .hide {
    display: none;
  }








  /* FILTER PANEL */
  

  #filterPanel {
    position: fixed;
    bottom: 0;
    /* left: 50%; */
    transform: translate(0, 100%); /* start off-screen below */
    width: 390px;
    height: 460px;
    background-color: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.25s ease-in-out, opacity 0.15s ease-out;
    padding: 5px 20px;
    z-index: 1000;
    border-radius: 20px;
    font-size: 14px;
    font-family: 'Proxima Nova', Lato;
    color: rgb(38, 39, 58);
    font-weight: 500;
    opacity: 0;
    pointer-events: none;
  }


#filter-header{
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    font-weight: 500;
    /* border-bottom: 0.1px solid rgba(54, 54, 54, 0.123); */
    margin-top: 5px;
    font-size: 16px;
    
  }

#filterClassificiation{
    font-size: 16px;
    color: rgb(38, 39, 58);
    font-weight: 500;
    font-family: 'Promixa Nova', Lato;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid; */

  }

#clearFilterSearch{
    text-align: right;
    /* border: 1px solid; */
    /* margin-left: 280px; */
    font-weight: 700;
    color:#8b1c2398;
    cursor: pointer;
    font-size: 16px;
  }

hr {
    width: 389px;
    transform: translate(-5%);
    border-top: 1px solid hsla(0, 0%, 35%, 0.288)
}

#periodText{
    /* border: 1px solid; */
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

#period-container{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    /* border: 1px solid; */

}

#period-container button{
    border: 1px solid rgba(196, 196, 196, 0.548);
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    /* font-size: 14px; */
    color: rgb(38, 39, 58);
    font-family: 'Promixa Nova', Lato;
    cursor: pointer;
}

#selectDateText{
    /* border: 1px solid; */
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
}

#selectDate-container{
    display: flex;
    align-items: center;
    gap: 5px;
}

#selectDate-container button{
    border: 1px solid rgba(196, 196, 196, 0.548);
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    /* font-size: 14px; */
    color: rgb(38, 39, 58);
    font-family: 'Promixa Nova', Lato;
    display: inline;
    cursor: pointer;

}

#calendarIcon{
    align-items: center;
}

#statusText{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}


#status-container{
    display: flex;
    gap: 10px;
}


#status-container button{
    border: 1px solid rgba(196, 196, 196, 0.548);
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    /* font-size: 14px; */
    color: rgb(38, 39, 58);
    font-family: 'Promixa Nova', Lato;
    cursor: pointer;
}


#showResults-container{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 60px;
}


#showResultsBtn{
    width: 330px;
    height: 44px;
    color: white;
    font-family: 'Promixa Nova', Lato;
    font-size: 16px;
    border: none;
    background-color: #8B1C23;
    border-radius: 12px;
    cursor: pointer;
}

#filterPanel.active {
    transform: translate(0, 2%);
    opacity: 1;
    pointer-events: all;
  }


#period-container button.active, #selectDate-container button.active, #status-container button.active {
    background-color: #8B1C23;
    color: white;
    border: none;

}