* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #8B1C23;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;  
    font-family: 'Russo One', sans-serif;

}

.home-container {
    /* border: 1px solid; */
    width: 415px;
    height: 100vh;
    position: relative;
}

/* HEADER */
.header {
    display: flex;
    background: rgb(255, 255, 255);
    width: 415px;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#username {
    display: flex;
    background-color: #8B1C23;
    font-family: 'Russo One', sans-serif;
    width: 342px;
    height: 45px;
    border-radius: 10px;
    align-items: center;

}

#usernameIcon{
    /* background-color: white; */
    margin-left: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}

#usernameImg{
    width: 40px;
}

#usernameText{
    color: white;
    font-size: 14px;
    margin-left: 10px;
}



/* TRANSACTION CARDS */
#transactionContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: 100%;
    /* border: 1px solid; */
}

/* BODY */
.home-body{
    display: flex;
    flex-direction: column;
    background-color: #8B1C23;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* padding-top: 100px; */
    position: relative;
    /* border: 1px solid; */
    height: 95vh;
}

#body-header{
    width: 415px;
    height: 100px;
    flex-shrink: 0;
    position: relative;
    /* border: 1px solid; */
}

/* 
#back-image{
    border: 1px solid;
    margin-right: 100px;
} */

#backImage{
    /* border: 1px solid; */
    margin-right: 300px;
    cursor: pointer;
}

/* #completeTransactionContainer{
    border: 1px solid;
} */

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 358px;
    min-height: 108px;
    background-color: hsla(0, 0%, 100%, 0.8);
    border-radius: 10px;
    padding: 15px 10px 15px 20px;
    /* border: 1px solid; */
}
  
#transactionIcon {
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: right;
    margin-top: 7px;
    /* border: 1px solid; */
    /* margin-left: ; */

}
  
#iconImage {
    background-color: #8B1C23;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    
}
  
#infoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 15px;
    margin-right: 10px;
    flex: 1;
    /* gap: 5px; */
    /* border: 1px solid; */

}
  
#topRow {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid;  */

}

#leftInfoTop{
    flex-direction: column;
    width: 65%;
    /* border: 1px solid; */
}
  
#rightInfoTop {
    display: flex;
    flex-direction: column;
    width: 35%;
    /* border: 1px solid; */
    align-items: flex-end;
}


#midRow {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    margin-bottom: 10px;
}

#midLeftInfo{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    /* border: 1px solid; */
}

#midRightInfo{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    align-items: flex-end;
}


  
#bottomRow {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    /* border: 1px solid; */
}
  
#bottomLeftInfo{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    /* border: 1px solid; */
}

#bottomRightInfo {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    /* border: 1px solid; */
    align-items: flex-end;
}



.transactionName{
    font-family: Lato;
    color: rgb(38, 39, 58);
    font-size: 16px;
    font-weight: bolder;
    margin-top: 5px;
}



#amount{
    font-family: Lato;
    color: rgb(38, 39, 58);
    font-size: 16px;
    font-weight: bolder;
    margin-top: 5px;
}

#payment{
    font-family: Lato;
    color: rgb(38, 39, 58);
    font-size: 14px;
    margin-top: 5px;

}

#mobileNo{
    font-family: Lato;
    color: rgba(38, 39, 58, 0.6);
    font-size: 12px;
    margin-top: 3px;
}

#number{
    font-family: Lato;
    color: rgba(38, 39, 58);
    font-size: 12px;
}



#statusPending{
    background-color: rgb(255, 184, 0, 0.2);
    width: 55px;
    border-radius: 25px;
    height: 15px;
    margin-top: 7px;
}

#pending{
    color: rgb(244, 154, 71);
    font-size: 10px;
    font-family: Lato;
    text-align: center;
    margin-top: 1px;
}

#statusConfirmed{
    background-color: rgb(0, 255, 148, 0.2);
    width: 60px;
    border-radius: 25px;
    margin-top: 7px;
    height: 15px;
}

#confirmed{
    color: rgb(75, 167, 112);
    font-size: 10px;
    font-family: Lato;
    text-align: center;
    margin-top: 2.5px;
}

#statusCanceled{
    background-color: rgb(245, 75, 75, 0.2);
    width: 55px;
    border-radius: 25px;
    margin-top: 7px;
    height: 15px;

}

#canceled{
    color: rgb(245, 75, 95);
    font-size: 10px;
    font-family: Lato;
    text-align: center;
    margin-top: 2px;
}

#date{
    font-family: Lato;
    font-size: 12px;
    margin-top: 3px;
}

#time{
    font-family: Lato;
    color: rgba(38, 39, 58, 0.6);
    font-size: 12px;
}


#topInfoContainer{
    display: flex;
    align-items: flex-start;
    width: 100%;
    /* border-radius: 10px; */
    /* border: 1px solid; */
}


#bottomInfoContainer{
    margin-top: 5px;
    /* border: 1px solid; */
}



#description, #status{
    font-family: Lato;
    color: rgba(38, 39, 58, 0.6);
    font-size: 12px;
    margin-top: 10px;
}

#textDescription, #textStatus{
    font-family: Lato;
    color: rgba(38, 39, 58);
    font-size: 12px;
    /* margin-top: 1px; */

}




/* FOOTER */
.footer {
    background: rgb(255, 255, 255);
    width: 415px;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    z-index: 1;
    gap: 60px;
}



#navLink{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MENU */
.menuIcon{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    cursor: pointer;
}


.menuImg {
    transition: opacity 0.1s ease-out;
}

.menuIcon:hover .menuImg {
    opacity: 0; /* Makes the original image invisible */
}

.menuIcon:hover {
    background-image: url("footer-icons/menuImage2.png");
    background-size: 48px 44px;
    background-repeat: no-repeat;
    background-position: center;
}

.menuIcon:hover .menuImg {
    opacity: 0; /* Makes the original image disappear */
}





/* ADD */
.addIcon{
    /* background-color: #8B1C23; */
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    cursor: pointer;

}

.addImg {
    transition: opacity 0.1s ease-out;
}

.addIcon:hover .addImg {
    opacity: 0; /* Makes the original image invisible */
}

.addIcon:hover {
    background-image: url("footer-icons/addImage2.png");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
}

.addIcon:hover .addImg {
    opacity: 0; /* Makes the original image disappear */
}




/* PROFILE */
.profileIcon{
    /* background-color: #8B1C23; */
    width: 50px;
    height: 50px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    cursor: pointer;

}

.profileImg {
    transition: opacity 0.1s ease-out;
}

.profileIcon:hover .profileImg {
    opacity: 0; /* Makes the original image invisible */
}

.profileIcon:hover {
    background-image: url("footer-icons/profileImage2.png");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
}

.profileIcon:hover .profileImg {
    opacity: 0; /* Makes the original image disappear */
}



#body-footer{
    width: 415px;
    height: 100px;
}







